<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<mat-sidenav-container class="formizq">
  <!-- Barra lateral -->
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <div style="text-align: center;">
      <span style="font-weight: bold; text-decoration: underline; margin-bottom: 10px;">Parámetros</span>
      <button class="btn infoparametros" mat-button title="Información sobre los parámetros" (click)="open()">
        <fa-icon [icon]="faQuestionCircle"></fa-icon>
      </button>
    </div>
    <!-- Parametros a introducir por el usuario -->
    <div class="params-container">
      <!-- Cliente -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">Cliente</div>
      <mat-form-field title="IP del cliente (por ejemplo: 127.0.0.1)">
        <input matInput [(ngModel)]="simulacion.ipclien" placeholder="IP del cliente" />
      </mat-form-field>
      <mat-form-field title="Tamaño máximo de segmento a enviar (en bytes)">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.mssclien" placeholder="MSS(B)">
      </mat-form-field>
      <mat-form-field title="Tamaño de los datos a enviar (en bytes)">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosclien" placeholder="Datos(B)" />
      </mat-form-field>
      <mat-form-field title="Número de secuencia por el que comienza el cliente">
        <input matInput type="number" min="0" max="9999999" [(ngModel)]="simulacion.snclien" placeholder="SN" />
      </mat-form-field>
      <mat-form-field title="Segmentos que se pierden separados por comas ',' (por ejemplo: 1,2,4)">
        <input matInput [(ngModel)]="simulacion.segperdclien" placeholder="Segmentos perdidos"/>
      </mat-form-field>
      <mat-form-field title="Ventana de recepción (en bytes)">
        <input matInput type="number" min="1"  max="99999999" [(ngModel)]="simulacion.wclien" placeholder="Ventana de recepción(B)">
      </mat-form-field>
      <!-- Servidor -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">Servidor</div>
      <mat-form-field title="IP del servidor (por ejemplo: 192.168.0.1)">
        <input matInput [(ngModel)]="simulacion.ipserv" placeholder="IP del servidor"/>
      </mat-form-field>
      <mat-form-field title="Tamaño máximo de segmento a enviar (en bytes)">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.mssserv" placeholder="MSS(B)">
      </mat-form-field>
      <mat-form-field title="Tamaño de los datos a enviar (en bytes)">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.datosserv" placeholder="Datos(B)" />
      </mat-form-field>
      <mat-form-field title="Número de secuencia por el que comienza el servidor">
        <input matInput type="number" min="0" max="9999999" [(ngModel)]="simulacion.snserv" placeholder="SN" />
      </mat-form-field>
      <mat-form-field title="Segmentos que se pierden separados por comas ',' (por ejemplo: 1,2,4)">
        <input matInput [(ngModel)]="simulacion.segperdserv" placeholder="Segmentos perdidos"/>
      </mat-form-field>
      <mat-form-field title="Ventana de recepción (en bytes)">
        <input matInput type="number" min="1" max="99999999" [(ngModel)]="simulacion.wserv" placeholder="Ventana de recepción(B)">
      </mat-form-field>
      <!-- General -->
      <div style="text-align: left; font-weight: bold; margin-bottom: 5px;">General</div>
      <mat-form-field title="Tiempo máximo de espera (en segundos) [0 - desactivar]">
        <input matInput type="number" min="0" max="99999999" [(ngModel)]="simulacion.timeout" placeholder="Timeout(s)" />
      </mat-form-field>
      <mat-form-field title="Algoritmo de congestión a usar">
        <mat-label>Algoritmo de congestión</mat-label>
        <mat-select [(value)]="simulacion.algort">
          <mat-option value="1">TCP Reno</mat-option>
          <mat-option value="2">TCP Tahoe</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field title="Dispositivo que inicia el cierre de conexión">
        <mat-label>Cierre de conexión</mat-label>
        <mat-select [(value)]="simulacion.cierre">
          <mat-option value="1">Cliente</mat-option>
          <mat-option value="2">Servidor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Boton de simular, rellenar y limpiar formulario -->
    <div style="margin-bottom: 15px;">
      <button type="button" class="btn btn-formulario" title="Simular" (click)="simular()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button type="button" class="btn btn-formulario" title="Rellenar con datos aleatorios" (click)="rellenarDatos()">
        <fa-icon [icon]="faRandom"></fa-icon>
      </button>
      <button type="button" class="btn btn-formulario" title="Limpiar formulario" (click)="limpiar()">
        <fa-icon [icon]="faEraser"></fa-icon>
      </button>
    </div>
  </mat-sidenav>

  <!-- Contenido -->
  <mat-sidenav-content>
    <!-- Boton para ocultar o mostar el menu -->
    <button mat-button title="Ocultar/mostrar menú" (click)="sidenav.toggle()">
      <div class="btn btn-menu">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
    </button>

    <!-- Alerta de navegadores compatibles -->
    <div class="alerta">
      <ngb-alert *ngIf="infoMsg" type="info" (close)="infoMsg = null">{{ infoMsg }}</ngb-alert>

    <!-- Alerta de errores en el formulario -->
      <div *ngFor="let alerta of alertas">
      <ngb-alert type ="danger" (close)="cerrarAlerta(alerta)">
        <strong>¡Error en {{ alerta.campo }}!</strong> {{ alerta.msg }}</ngb-alert>
      </div>
    </div>
    <!-- Simulacion -->
    <p style="text-align: left;"><br>
      <b style="color: red">NOTA:</b> Aún no se han añadido la ventana de congestión y la funcionalidad de segmentos perdidos.
  </p>
    <div class="contsimulacion" *ngIf="mostrar">
      <app-simulacion [simular]="simulacionEnv"></app-simulacion>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>