<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<!-- Barra lateral -->
<mat-sidenav-container class="formizq">
  <mat-sidenav #sidenav mode="side" [opened]="true" [(opened)]="opened">
    <div style="text-align: center">Parámetros</div>

    <!-- Parametros a introducir por el usuario -->
    <div class="params-container">
      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.mss" placeholder="MSS(B)">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.datos" placeholder="Datos(B)" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.ipserv" placeholder="IP del servidor" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.ipclien" placeholder="IP del cliente" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.snserv" placeholder="SN Servidor" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.snclien" placeholder="SN Cliente" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="simulacion.segperd" placeholder="Segmentos perdidos" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Algoritmo de congestión</mat-label>
        <mat-select [(value)]="simulacion.algort">
          <mat-option value="1">TCP Reno</mat-option>
          <mat-option value="2">TCP Tahoe</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Boton de simular y limpiar formulario -->
    <div style="text-align: center">
      <button title="Simular" type="button" class="btn btn-outline-primary" (click)="simular()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button title="Limpiar formulario" type="button" class="btn btn-outline-primary" (click)="limpiar()">
        <fa-icon [icon]="faUndo"></fa-icon>
      </button>
    </div>
  </mat-sidenav>

  <!-- Contenido -->
  <mat-sidenav-content>
    <!-- Boton para ocultar menu -->
    <button mat-button (click)="sidenav.toggle()">
      <div class="container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </button>

    <!-- Simulacion -->
    <div class="contsimulacion" *ngIf="mostrar">
      <app-simulacion [simular]="simulacionEnv"></app-simulacion>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>