<table>
    <tr>
        <th class="clien">
            <fa-icon class="fas fa-laptop fa-2x-laptop" [icon]="faLaptop"></fa-icon>
            <br><span class="cli">{{ simular.ipclien }}</span>
        </th>
        <th></th>
        <th class="serv">
            <fa-icon class="fas fa-server fa-2x-server" [icon]="faServer"></fa-icon>
            <br><span class="serv">{{ simular.ipserv }}</span>
        </th>
    </tr>
</table>
<table>

    <tr *ngFor="let conversacion of comunicacion">

        <!-- Direccion cliente->servidor -->
        <span *ngIf="conversacion.dir == 0">
            <td class="info-izq">
                <span *ngIf="conversacion.flag != null"><strong>{{ conversacion.flag }}</strong>,</span>
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, MSS={{ conversacion.mss }}</span>
            </td>
            <td>
                <img src="assets\img\flecha.svg" alt="cliente----><!--servidor"class="flechacli" draggable="false" />                
            </td>
            <td class="info-dcha"></td>
        </span>

        <!-- Direccion servidor->cliente -->
        <span *ngIf="conversacion.dir == 1">
            <td class="info-izq"></td>
            <td>
                <img src="assets\img\flecha.svg" alt="cliente<----servidor" class="flechaserv" style="transform: scaleX(-1);" draggable="false" />
            </td>
            <td class="info-dcha">
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, AN={{ conversacion.mss }}</span>
                <span *ngIf="conversacion.flag != null">, <strong>{{ conversacion.flag }}</strong></span>
            </td>
        </span>

        <!-- Segmento perdido en direccion cliente->servidor -->
        <span *ngIf="conversacion.dir == -1">
            <td class="info-izq">
                <span *ngIf="conversacion.flag != null"><strong>{{ conversacion.flag }}</strong>,</span>
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, MSS={{ conversacion.mss }}</span>
            </td>
            <td>
                <img src="assets\img\flechaX.svg" alt="clientes--X  servidor" class="flechaperd" draggable="false" />
            </td>
            <td class="info-dcha"></td>
        </span>
        <!-- Segmento perdido en direccion servidor->cliente -->
        <span *ngIf="conversacion.dir == -1">
            <td class="info-izq"></td>
            <td>
                <img src="assets\img\flechaX.svg" alt="cliente  X--servidor" class="flechaperd" style="transform: scaleX(-1);"
                    draggable="false" />
            </td>
            <td class="info-dcha">
                <span *ngIf="conversacion.flag != null"><strong>{{ conversacion.flag }}</strong>,</span>
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, MSS={{ conversacion.mss }}</span>
            </td>
        </span>
        <!-- Segmento ambas direcciones cliente<->servidor -->
        <span *ngIf="conversacion.dir == -1">
            <td class="info-izq">
                <span *ngIf="conversacion.flag != null"><strong>{{ conversacion.flag }}</strong>,</span>
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, MSS={{ conversacion.mss }}</span>
            </td>
            <td>
                <img src="assets\img\flechaDoble.svg" alt="cliente<---->servidor" class="flecha" draggable="false" />
            </td>
            <td class="info-dcha">
                <span *ngIf="conversacion.flag != null"><strong>{{ conversacion.flag }}</strong>,</span>
                SN={{ conversacion.sn }},
                <span *ngIf="conversacion.an != 0">AN={{ conversacion.an }},</span>
                D={{ conversacion.d }},
                W={{ conversacion.w }}<span *ngIf="conversacion.mss != 0">, MSS={{ conversacion.mss }}</span>
            </td>
        </span>

    </tr>
</table>



<!-- <div>
    <h3 style="text-align: left;">Valores introducidos:</h3>
    <h4 style="text-align: left;">Cliente</h4>
    <p style="text-align: left;">IP: {{ simular.ipclien  }}
    <br>MSS(B): {{ simular.mssclien  }}
    <br>Datos(B): {{ simular.datosclien }}
    <br>SN: {{ simular.snclien }}
    <br>Segmentos perdidos: {{ simular.segperdclien }}
    <br>VC: {{ simular.vcclien }}</p>

    <h4 style="text-align: left;">Servidor</h4>
    <p style="text-align: left;">IP: {{ simular.ipserv }}
    <br>MSS(B): {{ simular.mssserv }}
    <br>Datos(B): {{ simular.datosserv }}
    <br>SN: {{ simular.snserv }}
    <br>Segmentos perdidos: {{ simular.segperdserv }}
    <br>VC: {{ simular.vcserv }}</p>
    
    <h4 style="text-align: left;">General</h4>
    <p style="text-align: left;">Timeout: {{ simular.timeout }}
    <br>Algoritmo de congestión: {{ simular.algort }}
    <br>Cierre de conexión: {{ simular.cierre }}</p>

</div> -->


<p style="text-align: left;"><br>
    <b style="color: red">NOTA:</b> Aún no se ha añadido funcionalidad alguna.
</p>