<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Acerca de...</h4>
    </div>
    <div class="modal-body">
        <p>Este proyecto es un Trabajo de Fin de Grado (TFG) para la Universidad de Alcalá (Alcalá de Henares, Madrid,
            España). Agradecer también la ayuda prestada por la Universidad de Novi Sad (Voivodina, Serbia).</p>
        <p>Para llevarlo a cabo se ha hecho uso de: </p>
        <a href="https://angular.io/" target="_blank" title="Angular">
            <img src="assets\img\angular-logo.svg" class="herramientas" style="width: 80px; margin-left: 10px;"/>
        </a>
        <a href="https://ng-bootstrap.github.io/#/home" target="_blank" title="Bootstrap">
            <img src="assets\img\bootstrap-logo.svg" class="herramientas" style="width: 70px; margin-left: 5px;" />
        </a>
        <a href="https://code.visualstudio.com/" target="_blank" title="Visual Studio Code">
            <img src="assets\img\vscode-logo.svg" class="herramientas" style="width: 60px; margin-left: 15px;" />
        </a>
        <a href="https://github.com/" target="_blank" title="GitHub">
            <img src="assets\img\github-logo.svg" class="herramientas" style="width: 60px; margin-left: 20px;" />
        </a>
    </div>
    <div class="modal-footer">
        <a href="https://github.com/javierorp/tcp-simulador/" class="btn btn-modal" target="_blank" title="Repositorio">Repositorio</a>
        <button type="button" class="btn btn-modal" (click)="activeModal.close('Close click')" title="Cerrar">Cerrar</button>
    </div>
</div>