<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ titulo }}</h4>
    </div>
    <div class="modal-body">
        <p>{{ texto }}</p>
        <p>{{ texto2 }}</p>
        <a href="https://angular.io/" target="_blank" title="Angular">
            <img src="assets\img\angular-logo.svg" alt="Angular" class="herramientas"
                style="width: 80px; margin-left: 10px;" />
        </a>
        <a href="https://ng-bootstrap.github.io/#/home" target="_blank" title="Bootstrap">
            <img src="assets\img\bootstrap-logo.svg" alt="Bootstrap" class="herramientas"
                style="width: 70px; margin-left: 5px;" />
        </a>
        <a href="https://code.visualstudio.com/" target="_blank" title="Visual Studio Code">
            <img src="assets\img\vscode-logo.svg" alt="Visual Studio Code" class="herramientas"
                style="width: 60px; margin-left: 15px;" />
        </a>
        <a href="https://github.com/" target="_blank" title="GitHub">
            <img src="assets\img\github-logo.svg" alt="GitHub" class="herramientas"
                style="width: 60px; margin-left: 20px;" />
        </a>
    </div>
    <div class="modal-footer">
        <span class="version" title="{{ appVersion.date }} ">v{{ appVersion.version }}</span>
        <a href="https://github.com/javierorp/tcp-simulador/" class="btn btn-modal" target="_blank"
            title="Repositorio">{{ repo }}</a>
        <button type="button" class="btn btn-modal" (click)="activeModal.close('Close click')"
            title="Cerrar">{{ cerrar }}</button>
    </div>
</div>