<div class="params-container">    
    <mat-form-field>
        <input matInput matInput [(ngModel)]="tampet" placeholder="Tamaño de la petición del objeto (B)">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="tamobj" placeholder="Tamaño del objeto (B)"/>
    </mat-form-field>    

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="IP del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipcli" placeholder="IP del cliente"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="servport" placeholder="Puerto del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="servcliport" placeholder="Puerto del cliente"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="numsecserv" placeholder="Número de secuencia inicial del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="numseccli" placeholder="Número de secuencia inicial del cliente"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="Ventana del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="Ventana del cliente"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="Timeout constante del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="Timeout constante del cliente"/>
    </mat-form-field>
</div>

<div>
    <button mat-button color="primary">Ejecutar</button>

</div>
