<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<div class="params-container">    
    <mat-form-field>
        <input matInput matInput [(ngModel)]="mss" placeholder="MSS(B)">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="datos" placeholder="Datos(B)"/>
    </mat-form-field>    

    <mat-form-field>
        <input matInput [(ngModel)]="ipserv" placeholder="IP del servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="ipcli" placeholder="IP del cliente"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="snserv" placeholder="SN Servidor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="sncli" placeholder="SN Cliente"/>
    </mat-form-field>
    
     <mat-form-field>
        <mat-label>Algoritmo de congestión</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="reno">TCP Reno</mat-option>
          <mat-option value="tahoe">TCP Tahoe</mat-option>
        </mat-select>
      </mat-form-field>

</div>



<div style="text-align: center">
    <button type="button" class="btn btn-outline-primary">Ejecutar</button>
</div>
