<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ titulo }} <a href="{{ tcp_link }}" target="_blank" title="{{ masinfo }}">+</a></h4>
    </div>
    <div class="modal-body">       
        {{ supuestos }}
        <ul style="list-style-type: square;">
            <li>{{ supuesto1 }}</li>
            <li>{{ supuesto2 }}</li>
        </ul>
        <span>
            <b>- <a href="{{ ip_link }}" target="_blank" title="{{ masinfo }}">{{ ip }}:</a></b> {{ ip_text }}<br>
            <b>- <a href="{{ mss_link }}" target="_blank" title="{{ masinfo }}">{{ mss }}:</a></b> {{ mss_text }}<br>
            <b>- <a href="{{ datos_link }}" target="_blank" title="{{ masinfo }}">{{ datos }}:</a></b> {{ datos_text }}<br>
            <b>- <a href="{{ sn_link }}" target="_blank" title="{{ masinfo }}">{{ sn }}:</a></b> {{ sn_text }}<br>
            <b>- <span style="color: #023163">{{ segperd }}:</span></b> {{ segperd_text }}<br>
            <b>- <a href="{{ w_link }}" target="_blank" title="{{ masinfo }}">{{ w }}</a></b> {{ w_text }}<br>
            <b>- <span style="color: #023163">{{ timeout }}:</span></b> {{ timeout_text }}<br>
            <b>- <span style="color: #023163">{{ alg }}:</span></b> {{ alg_text }}
        </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-modal" (click)="activeModal.close('Close click')" title="{{ cerrar }}">{{ cerrar }}</button>
    </div>
</div>